body{
    color: blakc;
    font-family: Helvetica;
    font-size: 16px;
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    
}
#cuerpo{
    width: 80%;
    padding: 0;
    border: 3px solid white;
    border-radius: 20px;
    margin: 10px auto;
    text-align: left;
    background-color:#FAF3E3;
}
#cabecera{
    width: 90%;
    background-color: #1A4D2E;
    box-shadow:0px 2px 20px 0px white ;
    margin: 0 auto;
    font-weight:bold ;
    padding: 0.5em;
    border-radius: 20px;
    text-align: center;
    color: white;
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#cabecera #logo{
    width: 30px;
    vertical-align: middle;
}
#cuerpo h1 {
    text-align: center;
    font-size: 20px;
}
#post{
    padding: 1em;
}

#footer{
    width: 90%;
    font-family: Helvetica;
    background-color: #FF9F29;
    box-shadow:0px 2px 20px 0px white ;
    margin: 0 auto;
    font-weight:bold ;
    padding: 0.5em;
    border-radius: 20px;
    color: white;
    text-align: center;
}
#footer #loguito{
    width: 30px;
    vertical-align: middle;
    outline-color: blueviolet;
}